{% extends "page.html" %}
{% load static %}

{% block page-content %}
{% comment %}
<div class="row db-padding-btm db-attached">
  <div class="col-lg-1">
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <div class="db-wrapper">
        <div class="db-pricing-eleven db-bk-color-one">
      <div class="price">
          <sup>$</sup>5
        <small>24 hours</small>
      </div>
      <div class="type">
          DAY
      </div>
      <ul>
        <li><i class="glyphicon glyphicon-print"></i>Something </li>
        <li><i class="glyphicon glyphicon-time"></i>Something </li>
        <li><i class="glyphicon glyphicon-trash"></i>Something</li>
      </ul>
      <div class="pricing-footer">

        <a href="{% url 'signup' %}" class="btn db-button-color-square btn-lg">SIGN UP</a>
      </div>
        </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <div class="db-wrapper">
      <div class="db-pricing-eleven db-bk-color-two popular">
          <div class="price">
        <sup>$</sup>29
          <small>30 days</small>
          </div>
          <div class="type">
            MONTH
          </div>
          <ul>

            <li><i class="glyphicon glyphicon-print"></i>Something </li>
            <li><i class="glyphicon glyphicon-time"></i>Something </li>
            <li><i class="glyphicon glyphicon-trash"></i>Something</li>
          </ul>
          <div class="pricing-footer">

      <a href="{% url 'signup' %}" class="btn db-button-color-square btn-lg">SIGN UP</a>
          </div>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <div class="db-wrapper">
      <div class="db-pricing-eleven db-bk-color-three">
          <div class="price">
        <sup>$</sup>249
          <small>365 days</small>
          </div>
          <div class="type">
            YEAR
          </div>
          <ul>
            <li><i class="glyphicon glyphicon-print"></i>Something </li>
            <li><i class="glyphicon glyphicon-time"></i>Something </li>
            <li><i class="glyphicon glyphicon-trash"></i>Something</li>
          </ul>
          <div class="pricing-footer">
            <a href="{% url 'signup' %}" class="btn db-button-color-square btn-lg">SIGN UP</a>
          </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
<! ========================
    Pricing Table
  ========================  !>
<div id="generic_price_table">
  <section>
     <div class="container">
         <!--BLOCK ROW START-->
         <div class="row">
             <div class="col-md-4">

               <!--PRICE CONTENT START-->
                 <div class="generic_content clearfix">

                     <!--HEAD PRICE DETAIL START-->
                     <div class="generic_head_price clearfix">

                         <!--HEAD CONTENT START-->
                         <div class="generic_head_content clearfix">

                           <!--HEAD START-->
                             <div class="head_bg"></div>
                             <div class="head">
                                 <span>Day</span>
                             </div>
                             <!--//HEAD END-->

                         </div>
                         <!--//HEAD CONTENT END-->

                         <!--PRICE START-->
                         <div class="generic_price_tag clearfix">
                             <span class="price">
                                 <span class="sign">$</span>
                                 <span class="currency">5</span>
                             </span>
                         </div>
                         <!--//PRICE END-->

                     </div>
                     <!--//HEAD PRICE DETAIL END-->

                     <!--FEATURE LIST START-->
                     <div class="generic_feature_list">
                       <ul>
                           <li><span>1000000+</span> Records</li>
                           <li><span>Unlimited</span> Access</li>
                         </ul>
                     </div>
                     <!--//FEATURE LIST END-->

                     <!--BUTTON START-->
                     <div class="generic_price_btn clearfix">
                       <a class="" href="{% url 'signup' %}">Sign up</a>
                     </div>
                     <!--//BUTTON END-->

                 </div>
                 <!--//PRICE CONTENT END-->

             </div>

             <div class="col-md-4">

               <!--PRICE CONTENT START-->
                 <div class="generic_content clearfix">

                     <!--HEAD PRICE DETAIL START-->
                     <div class="generic_head_price clearfix">

                         <!--HEAD CONTENT START-->
                         <div class="generic_head_content clearfix">

                           <!--HEAD START-->
                             <div class="head_bg"></div>
                             <div class="head">
                                 <span>Month</span>
                             </div>
                             <!--//HEAD END-->

                         </div>
                         <!--//HEAD CONTENT END-->

                         <!--PRICE START-->
                         <div class="generic_price_tag clearfix">
                             <span class="price">
                                 <span class="sign">$</span>
                                 <span class="currency">29</span>
                             </span>
                         </div>
                         <!--//PRICE END-->

                     </div>
                     <!--//HEAD PRICE DETAIL END-->

                     <!--FEATURE LIST START-->
                     <div class="generic_feature_list">
                       <ul>
			                   <li>
                           <span class="sign">$</span>
                           <span class="currency">0</span>
                           <span class="cent">.97</span>
                           <span class="month">/DAY</span>
                         </li>
                         <li><span>1000000+</span> Records</li>
                         <li><span>Unlimited</span> Access</li>
                       </ul>
                     </div>
                     <!--//FEATURE LIST END-->

                     <!--BUTTON START-->
                     <div class="generic_price_btn clearfix">
                       <a class="" href="{% url 'signup' %}">Sign up</a>
                     </div>
                     <!--//BUTTON END-->

                 </div>
                 <!--//PRICE CONTENT END-->

             </div>
             <div class="col-md-4">

               <!--PRICE CONTENT START-->
                 <div class="generic_content active clearfix">

                     <!--HEAD PRICE DETAIL START-->
                     <div class="generic_head_price clearfix">

                         <!--HEAD CONTENT START-->
                         <div class="generic_head_content clearfix">

                           <!--HEAD START-->
                             <div class="head_bg"></div>
                             <div class="head">
                                 <span>Year</span>
                             </div>
                             <!--//HEAD END-->

                         </div>
                         <!--//HEAD CONTENT END-->

                         <!--PRICE START-->
                         <div class="generic_price_tag clearfix">
                             <span class="price">
                                 <span class="sign">$</span>
                                 <span class="currency">249</span>
                             </span>
                         </div>
                         <!--//PRICE END-->

                     </div>
                     <!--//HEAD PRICE DETAIL END-->

                     <!--FEATURE LIST START-->
                     <div class="generic_feature_list">
                       <ul>
			                   <li>
                           <span class="sign">$</span>
                           <span class="currency">0</span>
                           <span class="cent">.68</span>
                           <span class="month">/DAY</span>
                         </li>
                         <li><span>1000000+</span> Records</li>
                         <li><span>Unlimited</span> Access</li>
                       </ul>
                     </div>
                     <!--//FEATURE LIST END-->

                     <!--BUTTON START-->
                     <div class="generic_price_btn clearfix">
                       <a class="{% url 'signup' %}" href="">Sign up</a>
                     </div>
                     <!--//BUTTON END-->

                 </div>
                 <!--//PRICE CONTENT END-->

             </div>
         </div>
         <!--//BLOCK ROW END-->

     </div>
    </section>
</div>
{% endblock page-content %}
