{% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">

    <meta name="author" content="">

    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Charybdis</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template styles -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    {% block extracss %}
    {% endblock %}
    <!-- Fontawesome -->
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href="{% static 'css/fonts/lato.css' %}" rel="stylesheet" type='text/css'>

  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">

      <div class="container"> <!-- .container -->

        <div class="navbar-header"> <!-- navbar-header -->

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

          </button>

          <a class="navbar-brand" href="/"><b>CHARYBDIS</b></a>

        </div> <!-- /.navbar-header -->

        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">

            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'pricing' %}">Pricing</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account' %}">My account</a></li>
            <li><a href="{% url 'payment' %}">Payments</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}

          </ul>

        </div><!--/.nav-collapse -->

      </div> <!--/.container -->

    </div> <!-- navbar -->

    <!-- Messages -->
    {% if messages %}
    <div id="messages-container" class="text-center">
      {% for message in messages %}
          <div {% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}


    {% block content %}{% endblock %}
  </body>
</html>
